// variables

$navbar-color: #fff;
$navbar-hover-color: #b0d177;
$navbar-hover-background: #000;
$navbar-height: 60px;
$navbar-max-width: 1050px;
$navbar-min-width: 270px;
$logo-height: 30px;
$logo-width: 31px;
$manage-user-width: 122px;
$manage-org-width: 190px;
$logout-width: 50px;
$half-icon-width: 20px;
$gray-darkest: #333;
