// navbar

.navbar {
  @include clearfix;

  min-width: ($navbar-min-width + 10px);
  background: $gray-darkest;
}

.navbar li {
  float: left;
  margin: 0;
  padding: 0;
}

.navbar a {
  position: relative;
  display: block;
  height: $navbar-height;
  padding: 0 10px;
  color: $navbar-color;
  line-height: $navbar-height;
  text-decoration: none;
  &:hover,
  &:focus {
    color: $navbar-hover-color;
    background-color: $navbar-hover-background;
  }
}


// nav inner

.navbar__inner {
  min-width: $navbar-min-width;
  max-width: $navbar-max-width;
  margin: 0 auto;
  padding: 0 10px;
}


// nav logo

.navbar__logo {
  display: block;
  float: left;
  width: $logo-width + 20px;
  height: $navbar-height;
  background-image: url(../img/logo.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: $logo-width $logo-height;
  text-indent: -500em;
}


// primary-nav

.primary-nav {
  float: left;
  margin: 0;
  padding: 0;
  list-style: none;
}


// management-nav

.management-nav {
  float: right;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 14px;
}

.management-nav__org {
  position: relative;
  display: block;
  float: left;
  height: $navbar-height;
  padding: 0 10px;
  color: #ccc;
  line-height: $navbar-height;
  text-decoration: none;
}

.management-nav__manage-user,
.management-nav__manage-org,
.management-nav__logout {
  width: 40px;
}

.management-nav__manage-user:hover:after,
.management-nav__manage-org:hover:after,
.management-nav__logout:hover:after,
.management-nav__manage-user:focus:after,
.management-nav__manage-org:focus:after,
.management-nav__logout:focus:after {
  position: absolute;
  bottom: -10px;
  left: 50%;
  display: block;
  width: 0;
  height: 0;
  border-right: 8px solid transparent;
  border-bottom: 8px solid $gray65;
  border-left: 8px solid transparent;
  margin-left: -6px;
  content: '';
}

// navbar__current

.navbar__current {
  /* !important declaration needed to override navbar a color */
  color: $navbar-hover-color !important;
}

.navbar__current:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  display: block;
  width: 0;
  height: 0;
  border-right: 8px solid transparent;
  border-bottom: 8px solid $navbar-color;
  border-left: 8px solid transparent;
  margin-left: -6px;
  content: '';
}


// widths

@media (max-width: 900px) {
  .management-nav__org {
    display: none;
  }

  .navbar__inner {
    padding: 0 10px;
  }

}

@media (max-width: 700px) {
  .primary-nav {
    display: none;
  }

  body {
    padding-bottom: 60px;
  }
}
